
/******** Responsive ************/
@-ms-viewport{
  width: device-width;
}
/**** For Extra Large Device (Laptop) ***/
@media screen and (min-width:1200px) and (max-width:1499px){
  

  } 

/**** For Large Device  ***/
@media screen and (min-width:992px) and (max-width:1199px){

 /*** Agency ***/
 .sec-padding {
	padding: 50px 0;
}
.section-title h2 {
	font-size: 40px;
	margin-bottom: 40px;
}
/*** Agency ****/
.agency-text h2 {
	font-size: 40px;
}
/*** Blog ***/
.blog-thumb .blog-btn span {
	font-size: 21px;
}
  
  
  
  }
/**** For Medium Device  ***/
@media screen and (min-width:768px) and (max-width:991px){
  /** Default ****/
  .sec-padding {
    padding: 40px 0;
  }
  .section-title h2 {
    font-size: 40px;
    margin-bottom: 20px;
  }
  .section-title p {
    margin-bottom: 30px;
  }
  p {
    line-height: inherit;
  }
  /** Header **/
  .header-menu nav li a {
    padding: 30px 0;
  }
  /*** Agency ***/
.agency-text h2 {
	font-size: 30px;
}
.agency-text p {
	margin-top: 15px;
}
.agency-text a {
	margin-top: 10px;
}
/**** Working ARea ****/
.working-area {
	padding: 40px 0;
}
.working-menu {
	margin-bottom: 30px;
}
.working-item {
  width: 30.33%;
  height: 150px;
  margin-bottom: 20px;
}
.working-item:nth-child(2),
.working-item:nth-child(4),
.working-item:nth-child(5)
{
  height: 250px;
}
.working-text h2 {
	font-size: 17px;
}
/** About Area ***/
.about-item img {
	min-height: 260px;
}
.about-text {
	width: 100%;
}
.about-details h4 {
	margin-bottom: 10px;
	font-size: 18px;
}
.about-details p {
	text-align: justify;
}
.about-details a{
	margin-bottom: 10px;
}
/*** Blog ***/
.blog-thumb .blog-btn span {
	font-size: 15px;
	font-weight: 500;
}




  
  }

/**** For Small Device  ***/
@media screen and (min-width:576px) and (max-width:767px){
   /** Default ****/
   .sec-padding {
    padding: 40px 0;
  }
  .section-title h2 {
    font-size: 40px;
    margin-bottom: 20px;
  }
  .section-title p {
    margin-bottom: 30px;
  }
  p {
    line-height: inherit;
  }
 /** Header **/
  .header-menu nav li {
    margin-right: 20px;
  }
  .header-menu nav li a {
    padding: 30px 0;
  }
  /*** Agency ***/
.agency-text h2 {
	font-size: 21px;
}
.agency-text p {
	margin-top: 15px;
}
.agency-text a {
	margin-top: 10px;
}
.agency-thumb {
	margin-top: 30px;
}
.agency-thumb img {
	height: 300px;
} 
/**** Working ARea ****/
.working-area {
	padding: 40px 0;
}
.working-menu {
	margin-bottom: 30px;
}
.working-text h2 {
	font-size: 17px;
}
.working-item {
  width: 48%;
  height: 200px;
  margin-bottom: 20px;
}
.working-item:nth-child(2),
.working-item:nth-child(4),
.working-item:nth-child(5)
{
  height: 200px;
}
.working-btn {
	margin-top: 10px;
}
/** About Area ***/
.about-item {
	margin-bottom: 20px;
}
.about-text {
	width: 100%;
}
.about-details h4 {
	margin-bottom: 10px;
	font-size: 18px;
}
.about-details p {
	text-align: justify;
}
.about-details a{
	margin-top: 10px;
}
/**** Contact ***/
#contact-map{
  width: 300px;
  height: 300px;
}
.contact-details {
	margin: 20px 0;
}






  }

/**** For Extra Small Device  ***/
@media screen and (max-width:575px){
  /** Default ****/
  .sec-padding {
    padding: 40px 0;
  }
  .section-title h2 {
    font-size: 40px;
    margin-bottom: 40px;
    font-weight: 500;
  }
 /** Header **/
.header-logo {
  margin-top: 10px;
  margin-bottom: 10px;
}
.header-menu nav li a {
  padding: 10px 0;
  font-weight: 700;
}
  /*** Agency ***/
  .sec-padding {
    padding: 30px 0;
  }
  .agency-text h2 {
    font-size: 30px;
  }
  .agency-text p {
    margin-top: 15px;
  }
  .agency-text a {
    margin-top: 10px;
  }
  .agency-thumb {
    margin-top: 20px;
  }
  .agency-thumb img {
    height: 200px;
  } 
/**** Working ARea ****/
.working-area {
	padding: 40px 0;
}
.working-menu {
	margin-bottom: 30px;
}
.working-text h2 {
	font-size: 17px;
}
.working-item {
  width: 47%;
  height: 150px;
  margin-bottom: 10px;
}
.working-item:nth-child(2),
.working-item:nth-child(4),
.working-item:nth-child(5)
{
  height: 150px;
}

.working-btn {
	margin-top: 10px;
}
.working-icon {
	float: inherit;
}
/** About Area ***/
.about-item {
	margin-bottom: 20px;
}
.about-text {
	width: 100%;
}
.about-details h4 {
	margin-bottom: 10px;
	font-size: 18px;
}
.about-details p {
	text-align: justify;
}
.about-details a{
	margin-top: 10px;
}
/*** Footer ***/
.footer-left,
.footer-right
{
	float: inherit;
	text-align: center;
}
.footer-left a {
	display: inline-block;
	margin-bottom: 10px;
}





}
/***** For Others Device ****/
@media screen and (max-width:400px){
  /*** Working ***/
  .working-thumb {
    margin-left: inherit;
  }
  .working-item {
    float: inherit;
    margin-left: inherit;
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
  }
  .working-item:nth-child(2),
  .working-item:nth-child(4),
  .working-item:nth-child(5)
  {
    height: 100px;
  }
/*** Blog ***/
.blog-thumb .blog-btn span {
	font-size: 15px;
	font-weight: 500;
}












}


































 
